header.header
  nav.navbar.navbar-expand-lg.bg-light.container-fluid
    a.navbar-brand(href="/#") MeiersBook
    button.navbar-toggler(
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation")
      span.navbar-toggler-icon
    div.collapse.navbar-collapse#navbarNav
      ul.navbar-nav
        li.nav-item
          a.nav-link#contact(href="/#") Contact me
        li.nav-item
          a.nav-link#about(href="#") About me
        li.nav-item
          a.btn(href="/#") Log in