extends base
block content

  h1.primary-heading=post?'Update Post':'New Post'
  form.front-panel.form-post-data(id=post?'edit':'new' data-id=post?post.id:'')
    div.form-group
      .image-preview
        - if(post)
          img(src=`/img/posts/${post.image}`, alt='Post image')
      input#image.btn(type='file', accept='image/*',name='image')
    div.form-group
      label.title-heading(for='title') Description
      textarea.title-heading.form-control#title(
        type='text'
        name='title'
        rows='6'
        autofocus)=post?post.title:''
    div.buttons-nav
      a.btn(href="/#") Go back
      button.btn=post?'Update':'Publish'